.header {
  a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    &:hover {
      color: #ccc;
    }
  }
  
  li {
    @include mobile {
      text-align: center;
      border: 1px solid #fff;
      width: 50%;
    }
  }
}