<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title>門市據點</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="container">
      <h1 class="title mb-4">門市據點</h1>
      <div class="row">
        <div class="col-md-8 col-lg-4 d-flex align-items-center mb-5">
          <label for="stores" class="text-nowrap me-2">選擇地區</label>
          <select class="form-select" id="stores">
            <option selected>選擇地區</option>
            <option value="台北市">台北市</option>
            <option value="台中市">台中市</option>
            <option value="高雄市">高雄市</option>
          </select>
        </div>
      </div>
      <ul class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mb-55 mb-md-6">
        <li class="col">
          <div class="card mb-5">
            <img
              src="../assets/images/store-1.png"
              class="card-img-top"
              alt="門市一"
            />
            <div class="card-header bg-white">
              <h3 class="mb-0 h4">台北中山旗艦店</h3>
            </div>
            <div class="card-body">
              <ul>
                <li class="mb-2">
                  <span class="material-symbols-outlined md-18 align-middle me-2">
                    call </span
                  >電話：(02)000-1234
                </li>
                <li class="mb-2">
                  <span class="material-symbols-outlined md-18 align-middle me-2">
                    schedule </span
                  >營業時間：10:00-21:00
                </li>
                <li class="mb-2 d-flex">
                  <span class="material-symbols-outlined md-18 align-middle me-2">
                    place
                  </span>
                  <p>地址：台北市中山區南京東路25巷2-1號</p>
                </li>
              </ul>
            </div>
            <button type="button" class="btn btn-dark py-3">詳細資訊</button>
          </div>
        </li>
        <li class="col">
          <div class="card mb-5">
            <img
              src="../assets/images/store-2.png"
              class="card-img-top"
              alt="門市二"
            />
            <div class="card-header bg-white">
              <h3 class="mb-0 h4">台北綠園店</h3>
            </div>
            <div class="card-body">
              <ul>
                <li class="mb-2">
                  <span class="material-symbols-outlined md-18 align-middle me-2">
                    call </span
                  >電話：(02)000-2345
                </li>
                <li class="mb-2">
                  <span class="material-symbols-outlined md-18 align-middle me-2">
                    schedule </span
                  >營業時間：10:00-21:00
                </li>
                <li class="mb-2 d-flex">
                  <span class="material-symbols-outlined md-18 align-middle me-2">
                    place
                  </span>
                  <p>地址：台北市中正區復興南路 132-1 號</p>
                </li>
              </ul>
            </div>
            <button type="button" class="btn btn-dark py-3">詳細資訊</button>
          </div>
        </li>
        <li class="col">
          <div class="card mb-5">
            <img
              src="../assets/images/store-3.png"
              class="card-img-top"
              alt="門市三"
            />
            <div class="card-header bg-white">
              <h3 class="mb-0 h4">台中清水旗艦店</h3>
            </div>
            <div class="card-body">
              <ul>
                <li class="mb-2">
                  <span class="material-symbols-outlined md-18 align-middle me-2">
                    call </span
                  >電話：(02)000-1234
                </li>
                <li class="mb-2">
                  <span class="material-symbols-outlined md-18 align-middle me-2">
                    schedule </span
                  >營業時間：10:00-21:00
                </li>
                <li class="mb-2 d-flex">
                  <span class="material-symbols-outlined md-18 align-middle me-2">
                    place
                  </span>
                  <p>地址：台中市清水區經南一路 23 號 8 樓</p>
                </li>
              </ul>
            </div>
            <button type="button" class="btn btn-dark py-3">詳細資訊</button>
          </div>
        </li>
        <li class="col">
          <div class="card mb-5">
            <img
              src="../assets/images/store-4.png"
              class="card-img-top"
              alt="門市四"
            />
            <div class="card-header bg-white">
              <h3 class="mb-0 h4">高雄中正形象店</h3>
            </div>
            <div class="card-body">
              <ul>
                <li class="mb-2">
                  <span class="material-symbols-outlined md-18 align-middle me-2">
                    call </span
                  >電話：(07)000-2345
                </li>
                <li class="mb-2">
                  <span class="material-symbols-outlined md-18 align-middle me-2">
                    schedule </span
                  >營業時間：10:00-21:00
                </li>
                <li class="mb-2 d-flex">
                  <span class="material-symbols-outlined md-18 align-middle me-2">
                    place
                  </span>
                  <p>地址：高雄市苓雅區中正路 38 號 12 樓</p>
                </li>
              </ul>
            </div>
            <button type="button" class="btn btn-dark py-3">詳細資訊</button>
          </div>
        </li>
        <li class="col">
          <div class="card mb-5">
            <img
              src="../assets/images/store-5.png"
              class="card-img-top"
              alt="門市五"
            />
            <div class="card-header bg-white">
              <h3 class="mb-0 h4">高雄夢時代店</h3>
            </div>
            <div class="card-body">
              <ul>
                <li class="mb-2">
                  <span class="material-symbols-outlined md-18 align-middle me-2">
                    call </span
                  >電話：(07)000-1234
                </li>
                <li class="mb-2">
                  <span class="material-symbols-outlined md-18 align-middle me-2">
                    schedule </span
                  >營業時間：10:00-21:00
                </li>
                <li class="mb-2 d-flex">
                  <span class="material-symbols-outlined md-18 align-middle me-2">
                    place
                  </span>
                  <p>地址：高雄市前鎮區中華一路 63 號 6 樓</p>
                </li>
              </ul>
            </div>
            <button type="button" class="btn btn-dark py-3">詳細資訊</button>
          </div>
        </li>
      </ul>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
